{% extends 'blog/base.html' %}

{% block title %}Blog Posts - My Blog{% endblock %}

{% block content %}
<h1>Blog Posts</h1>
{% for post in posts %}
    <div class="post">
        <h2><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></h2>
        <p>{{ post.content|slice:":200" }}...</p>
        <p><small>Published on {{ post.created_at }} by {{ post.author }}</small></p>
        {% if post.author == user %}
            <p><a href="{% url 'post_edit' post.id %}">Edit</a> | <a href="{% url 'post_delete' post.id %}">Delete</a></p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
